# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*~
.branch

bwa
genomemapper
gmindex
palmapper
pmindex
src/bwa-0.5.9rc1/bwa
testcase/data/C_elegans_SpliceSitePred_WS209/
testcase/data/c_elegans.WS209.dna.fa*
testcase/data/map/
testcase/data/mapBed/
testcase/data/mapNoSpliceSitePred/
testcase/data/mapPolytrim/
testcase/data/mapRtrim/
testcase/data/mapUnspliced/
testcase/data/split_1m.000
.branch
